#! /bin/bash

REGISTRY_USER="denhamparry"
export REGISTRY_USER

OPENWEATHER_API_KEY=$(op item get "sqybs2ptic6r2aauoosxdeynd4" --reveal --field "credential")
export OPENWEATHER_API_KEY

TAILSCALE_AUTH_KEY=$(op item get "l4m4jfspcyelo5yfovkfkdqfii" --reveal --field "credential")
export TAILSCALE_AUTH_KEY
